html {
    font-family: "Nunito", sans-serif;
    margin: 25px;
}
header {
    display: flex;
    justify-content: center;
}
header h1 {
    color: orange;
    font-size: 20px;
}
@media (min-width: 1000px) {
    header {
        display: flex;
        justify-content: flex-start;
    }
}
main > :nth-child(1) {
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

section button {
    background-color: orange;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    color: white;
}

@media (min-width: 1000px) {
    main > :nth-child(1) {
        font-size: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    section button {
        background-color: orange;
        width: 120px;
        height: 40px;
        border-radius: 40px;
        border: 0;
        color: white;
    }
}
